header {
    display: flex;
    justify-content: center;
    align-items: center;
    nav {
        ul {
            display: flex;
            li {
                padding: 10px;
                cursor: pointer;
                color: #c0955e;
                text-transform: uppercase;
            }
        }
    }
}
